.infobox{
  display: flex;
  flex-direction: row;
 flex:1;

 cursor: pointer;
 
     background: linear-gradient(to bottom, #fe8683 0%,#ff9d9b 100%);
    filter: pr
}

/* .infobox:hover{
 
    box-shadow: 10px 30px 60px rgba(0, 0, 0, 0.8);
    transform: rotateY(20deg);
  
} */

.infobox:not(last-child){
    margin-right: 15px;
}

.infobox--selected {
    border-top: 10px solid greenyellow;
  }
  
  .infobox--red {
    border-color: red;
  }
  
  .infobox__cases--green {
    color: lightgreen !important;
  }
  
  .infobox__cases{
    color: #cc1034;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infobox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }
  .infobox__cases_recovery{
    color: #cc1034 !important;

  }
  @media (max-width:990px){
    .infobox{
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left:20px;
      
    }
  
  
  }
  
  