.Card {
    min-width: 200px;
    width: 100%;
    height: 100% !important;
    max-height: 200px;
    overflow: hidden;


    position: relative;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    display: grid;
    margin: 15px 20px;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  }
  
  .Card:hover {
    box-shadow: 10px 30px 60px rgba(0, 0, 0, 0.8);
    transform: rotateY(20deg);
  }
  
  .mybg{
    
    /* color:white !important; */
    background: url('https://cdn.pixabay.com/photo/2020/10/13/11/43/girl-5651622_960_720.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
    background-size: cover;

    height: 100%;
    min-height: 200px;
    
    
 

  }
 
  
  /* .Card img {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  } */
  
  .Card h3 {
    color: white;
    position: absolute;
    align-self: end;
    margin: 10px;
  }
  
  .Card h2 {
    color: white;
    position: absolute;
    top: 10px;
    width: 200px;
    margin-left: 20px;
  }
 
  .Card h1 {
    color: white;
    position: absolute;
    align-self: end;
    margin: 10px;
    padding-bottom: 25px;
  }
  
  .infobox__cases{
    color: #cc1034 !important;
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
  }
  
  .infobox__total {
    color: #6c757d;
    font-weight: 700 !important;
    font-size: 0.8rem !important;
    margin-top: 15px !important;
  }

  .infobox__cases_recovery_world{
    color: lightgreen !important;
  }

  .newcardcontainer{
      display: flex !important;
      flex-wrap: wrap;
      flex-direction: column !important;


  }

  .bigcardhai{

    min-width: 28vw !important;
  }
  @media (max-width:990px){
   .Card{
     margin: auto;
     margin-top: 20px;
     margin-bottom: 20px;
   }
  
  }
  