.table{
    margin-top: 20px;
    width: 100%;

}
.outer{
    overflow-y: scroll;
    height: 400px;
    color:white;

    
}
.active{
    color:#cc1034 !important;
}
.recovered{
    color:lightgreen;
}
